h1  {
      color: purple;
      font-size: 200%;
}

h2  {
      color: purple;
      font-size: 150%;
}

h3  {
      color: purple;
      font-size: 150%;
}

h4  {
      color: purple;
      font-size: 150%;
}
p {
    color: green;
    font-family: "comic sans";
    text-indent: 20px;
    margin-left: 10px;
}
